*{
    font: Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    list-style: none; /* removes the bullet points of li */
    text-decoration: none;
   
  }

  .header {
    width: 100%;
    height: 150px;
    background-color: #CABBB7;
   
   
}


.headerText {
    position: relative;
    float:left;
    font-size: 30px;
    padding:20px;
    top:25%;
    left:5%;
   
}

.img1 {
    position: relative;
    width:350px;
    height: 100px;
    float:right;
    right:10%;
    padding:20px;
   
  
}
nav {
    background-color:#C65252;
    height: 50px;
}

nav ul {
    float: right;
}

nav ul li {
    width: 150px;
    display:inline-block;
    
}

li a {
    color: white;
   line-height: 50px; /* should be same with height*/
   text-transform: uppercase;
   font-weight: bold;
   
}


.main {
   
    min-height:200px;
    text-align:center;
    
  }
  .main h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
    margin-top:50px;
  }

 #firstImage {
     width:80%;
     margin-left: auto;
     margin-right: auto;
     height:50%;
     text-align: center;
 }


 #img1 {
     height:200px;
     width: 100%;
 }
 .one {
     height: 190px;
     width:90% }

   






 
 







.footer {
   /* position: fixed;*/
   width: 100%;
   height: 130px;
   background-color: #CABBB7;
    
 }
 .footer_img {
     margin-left: 550px;
     margin-top: 20px;
    
  
    width:150px;
    height: 80px;
  
   
  
}

.footer h5 {
    text-align: center;

}


